## For Loop

In [2]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

0
1
2
3
4
5
6
7
8
9
10

**Syntax**

**for** *iterator* **in** **range(lower_limit, upper_limit)**:<br>
    <any operation that is possible with the variable *iterator*>

In [3]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1,5):
    print(i*i)

1
4
9
16

In [10]:
for i in range(1,5): # ekhane 1 and 5 hoilo arguments
    print(i**2)

1
4
9
16

In [13]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [23]:
for i in range(1,101):
    if i%9 == 0:
        print(i)

9
18
27
36
45
54
63
72
81
90
99

In [26]:
for i in range(0,10):
    print(f"{i+1}. Tanmoy")

1. Tanmoy
2. Tanmoy
3. Tanmoy
4. Tanmoy
5. Tanmoy
6. Tanmoy
7. Tanmoy
8. Tanmoy
9. Tanmoy
10. Tanmoy

In [28]:
name = "Subham"
for i in range(0,len(name)):
    print(name[i],i)

S 0
u 1
b 2
h 3
a 4
m 5

In [30]:
name = "Tanmoy"
for x in name :
    print(x)

T
a
n
m
o
y

In [31]:
arr = [5,4,3,57,23] # 5 --> len(arr), index : 0-4

for i in range(0, len(arr)):
    print(arr[i])

5
4
3
57
23

In [32]:
arr = [5,4,3,57,23] # 5 --> len(arr), index : 0-4

for x in arr :
    print(x)

5
4
3
57
23

In [35]:
lst = [5,4,3,2,7,8,65,81,45,66,43]
even_lst = []
for x in lst:
    if x%2 == 0:
        even_lst.append(x)

print(even_lst)

[4, 2, 8, 66]

In [36]:
# augmented operator

In [39]:
# check koro ekta number moulik shonkha ni (prime)

moulik shonkha --> 
jodi number ta 10 hoy
taile 2 theika 10 obdhi sudhu ekta number diyaoi 10 bhag jaibo

In [45]:
number = int(input("Enter a number : "))
count = 0
if number == 0 or number == 1:
    print("NOT POSSIBLE")

else:
    for i in range(2, number//2):
        if number%i == 0:
            count = count + 1
    if count == 0:
        print("PRIME")
        print(count)
    else:
        print("NON PRIME")
        print(count)

Enter a number :  55

NON PRIME
2

In [62]:
limit = int(input("Enter shape No. : "))
for i in range(1,limit):
    print("<o>" * i)
print("<o>"*limit)
for j in range(limit-1,0,-1):
    print("<o>"*j)

Enter shape No. :  7

<o>
<o><o>
<o><o><o>
<o><o><o><o>
<o><o><o><o><o>
<o><o><o><o><o><o>
<o><o><o><o><o><o><o>
<o><o><o><o><o><o>
<o><o><o><o><o>
<o><o><o><o>
<o><o><o>
<o><o>
<o>

## While Loop

while CONDITION:
    <code>

In [63]:
i = 0

while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [68]:
number = int(input("Enter a number : "))
temporary = number

count = 0

while temporary != 0:
    temporary = temporary//10
    count = count+1

print(count)

Enter a number :  1451

4

In [71]:
number = int(input("Enter a number : "))
number_to_str = str(number)
print(len(number_to_str))

Enter a number :  1451

4

In [69]:
name = "Subham"
reverse = ""

li = len(name)-1

while li >= 0:
    reverse = reverse + name[li]
    li = li - 1

print(reverse)

mahbuS

In [70]:
name = "Tanmoy"
reverse = name[::-1]
print(reverse)

yomnaT

# ```Ekta list ase. List er value = [4,23,69,52,12]. while loop diya and for loop, reverse list ta print kor. ([12,52,69,23,4])```