**Previous Day Task**
---

In [7]:
li = [2, 1, 5, 8, 2, 1, 1, 2, 0, 6, 6, 6]
unique_element = []

for x in li:
    if x not in unique_element:
        unique_element.append(x)

for y in unique_element:
    count_of_element = li.count(y)
    print(f"{y} --> {count_of_element}")

2 --> 3
1 --> 3
5 --> 1
8 --> 1
0 --> 1
6 --> 3

**Question Of The Day**
-----

```ekta list ase = [4,5,3,5,6,7], amar output lagbo jeti prime oitir jagat PRIME, R jeti prime na oitir jagat NON-PRIME```
<br>
```ei list er leiga output hoibo ["NON-PRIME", "PRIME", "PRIME", "PRIME", "NON-PRIME", "PRIME"]```

In [13]:
li = [4,5,3,5,6,7]
output = []

for x in li:
    count = 0
    for i in range(2, x+1): 
        if x%i == 0:
            count += 1
    if count == 1:
        output.append("PRIME")
    else:
        output.append("NON-PRIME")

print(output)

['NON-PRIME', 'PRIME', 'PRIME', 'PRIME', 'NON-PRIME', 'PRIME']

# Functions
---

```f(x) = x+9```
<br>
```f(2) = 11```

In [15]:
def subham(x):
    print(x+9)

subham(2)

11

In [16]:
# void function --> jei function er value reuse kora jayna
# return function --> jei function er value reuse kora jayy

In [24]:
def add1(x,y):
    print(x+y) # void function | always avoid

def add2(x,y):
    return x+y # return function | always use

In [25]:
print(add1(5,3))

8
None

In [26]:
print(add2(5,3))

8

In [34]:
def isPrime(number):
    count = 0
    for i in range(2, number+1):
        if number%i == 0:
            count +=1
    if count == 1:
        return True
    else:
        return False

In [35]:
number = 65

if isPrime(number):
    print("PRIME")
else:
    print("NON-PRIME")

NON-PRIME

In [36]:
li = [4,5,3,5,6,7]
output = []
for x in li:
    if isPrime(x):
        output.append("PRIME")
    else:
        output.append("NON-PRIME")

In [33]:
output

['NON-PRIME', 'PRIME', 'PRIME', 'PRIME', 'NON-PRIME', 'PRIME']

#### DRY Method | DRY >> Don't Repeat Yourself

In [49]:
for i in range(2,101):
    if isPrime(i):
        print(i, end = "  ") # \t --> TAB, \n --> NEXT LINE

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

In [50]:
# factorial
# additive count korle initiate kori 0 diya
# multiplicative count korle initiate kori 1 diyaa

In [57]:
# 5 --> 1-5

number = 0
ans = 1

if number == 0:
    ans = 1
else:
    for i in range(1, number+1):
        ans = ans * i

print(f"{number}! = {ans}")

0! = 1

>


0! = 1<br>
1! = 1<br>
2! = 2<br>
3! = 6<br>
4! = 24<br>
5! = 120<br>

In [63]:
number = 0

new_number = number + 1
new_fact = 1

for i in range(1, new_number + 1):
    new_fact = new_fact*i

original_factorial = new_fact // new_number
print(f"{number}! = {original_factorial}")

0! = 1

In [73]:
# recursion
def t(n):
    if n == 0 or n == 1:
        return 1
    elif n < 0:
        return "In appropriate input"
    else:
        return n * t(n-1)

In [75]:
factorial(4)

24

In [77]:

# #1
# def t(4):
#     return 4 * t(3)

# #2
# def t(4):
#     return 4 * 3 * t(2)

# #3
# def t(4):
#     return 4*3*2*t(1)

# #4
# def t(4):
#     return 4*3*2*1

In [82]:
# lambda - fyi
add = lambda x,y : x+y

In [83]:
add(5,6)

11

**Q1**<br>
Ekta number ase -- 34, output hoibo idar binary number
<br>
**Q2**<br>
Ekta number ase -- 567, output hoibo idar reverse : 765

In [86]:
string = "Tanmoy,Subham,Shayan"
output_l = string.split(",")

print(output_l)

['Tanmoy', 'Subham', 'Shayan']

In [88]:
name = "Shayan "

name = name.strip() # removes trailing spaces

print(len(name))

6